body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#score {
    scale: 1.5;
    position: absolute;
    top: 40px;
    right: 60px;
    color: #333;
}

#progressContainer {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#questionProgress {
    color: #333;
}

#progressBar {
    width: calc(100% - 120px);
    background-color: #ccc;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
}

#progress {
    width: 0;
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease;
}

#question {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    /* background-color: #f9f9f9; */
    color: #333;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    margin-right: 20px;
}

.option:hover {
    border-width: 3px;
    border-color: #007bff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#scoreMessage {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


.correct {
    background-color: #8bc34a;
}

.wrong {
    background-color: #eb5d53;
}

button:hover {
    border-color: #0056b3;
}
